.Container {
  display: flex;
  // padding-top: 16vh;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  margin-top: 8vh;
  width: 100%;
}

.Info {
  color: white;
  display: flex;
  text-align: center;
  width: 20%;
  flex-direction: column;
  //max-width: 20%;

  &__text {
    font-size: 2vh;
    padding: 1rem;
    line-height: 2vw;
    opacity: 0.6;
    font-style: italic;
  }
}

.Board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 1rem;

  &__row {
    display: flex;
  }
}

.ComputationTime {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;

  &__header {
    font-size: 3.3vh;
    text-shadow: -1px -3px 6px #783ef5;
  }

  &__value {
    font-size: 2.8vh;
  }
}
