.Container {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 70% 15%;
  padding-top: 8%;
}

.Info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__text {
    font-size: 1.8rem;
    padding: 1rem;
    line-height: 2.8rem;
    opacity: 0.6;
    font-style: italic;
  }
}

.Board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__row {
    display: flex;
  }
}

.ComputationTime {
  color: white;
  text-align: center;

  &__header {
    font-size: 2.6rem;
    text-shadow: -1px -3px 6px #783ef5;
  }

  &__value {
    font-size: 2.2rem;
  }
}
